.btn-inline {
  display: inline-block;
}

.weather-icon {
  display: inline-block;
  transform: scale(3,3);
  float: right;
  margin-bottom: 10%;
  margin-right: 5%;
}

.weather-main {
  display: block;
  margin-bottom: 3em;
}

.box {
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
  height: 250px;
  box-shadow: 2px 2px grey;
}

.page-header {
  margin-bottom: 5em;
}

.location-button {
  margin-bottom: 2em;
}

.location-form {
  margin-bottom: 2em;
}
