.btn-inline {
  display: inline-block;
}

.weather-icon {
  display: inline-block;
  transform: scale(3,3);
  float: right;
  margin-bottom: 10%;
  margin-right: 5%;
}

.weather-main {
  display: block;
}
