html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #f6f4eb;
  color: #4682a9;
  font-family: "Nunito Sans", sans-serif;
}

.btn-primary {
  background-color: #91c8e4 !important;
  color: black;
  border: none;
  transition: all 0.5s ease;
}

.btn-primary:hover {
  color: white;
  background-color: #4682a9 !important;
}

.btn-primary:active {
  transform: scale(0.9);
  transition: all 0.1s ease;
}

.form {
  height: 30%;
}

.weather-container {
  justify-content: center;
  align-items: center;
  background-color: #4682a9;
  color: #f6f4eb;
  border: solid 2px #91c8e4;
}

.weather-desc {
  margin: 0;
}

.day-container {
  height: 250px;
  background-color: #4682a9;
  color: #f6f4eb;
  border: solid 2px #91c8e4;
  max-width: 200px;
}

.day-icon {
  height: 100px;
  width: 100px;
}

.add-default {
  position: absolute;
  top: 100px;
  right: 300px;
}

@media (max-width: 1650px) {
  .add-default {
    right: 200px;
  }
}

.default-conf {
  transition: all 0.5s ease;
  text-align: center;
  position: absolute;
  width: 100%;
  top: -60px;
}

.conf {
  top: 5px;
  transition: all 0.5s ease;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  opacity: 100% !important;
  z-index: 10;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 950px) {
  .five-day-container {
    flex-wrap: wrap;
  }

  .day-container {
    width: 200px;
    height: 120px;
  }

  .day-icon {
    display: none;
  }
}
