.page-header {
  text-align: center;
  margin-top: 20px;
}

.current-weather-tile img {
  width: 100%;
}

.current-weather-tile {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 15px;
}

.current-weather-tile {
  text-align: center;
}

.form-group {
  display: flex;
  margin-left: 20px;
  margin-right: 80px;
  margin-top: 50px;
}

#search-query {
  margin-right: 20px;
}
