* {
  font-family: "Raleway", sans-serif;
}

.btn {
  background-color: hsl(214deg 41% 75%);
}

.btn:hover {
  background-color: hsl(214deg 41% 75%);
  font-weight: 700;
  box-shadow: 2px 2px 4px;
}

body {
  background-color: hsl(214deg 41% 85%);
  height: 90vh;
}

.navbar-brand {
  font-size: 2.1rem;
  font-family: "Kadwa", serif;
}

.main-container {
  height: 95vh;
}

.search-form {
  width: 100%;
}

.current {
  height: 33%;
}

.five-day {
  border: 1px solid black;
  height: 33%;
  background-color: hsl(214deg 41% 75%);
}

.five-day-forecast {
  padding: 10px;
}

.temp {
  font-size: 1.3rem;
}

.location {
  font-size: 1.5rem;
}

.day {
  font-weight: 500;
}

.condition {
  font-weight: 500;
}
