body {
  background-image: url("resources/25501.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.page-header {
  margin-top: 40px;
}

.search-form {
  margin-top: 40px;
  margin-bottom: 40px;
}
.card {
  margin: 10px;
  padding: 10px;
}
footer {
  position: fixed;
  bottom: 0;
}
