body {
  background-color: hsl(214deg 41% 85%);
  height: 90vh;
}

.navbar-brand {
  font-size: 2.1rem;
}

.main-container {
  height: 95vh;
}

.search-form {
  width: 100%;
}

.current {
  height: 33%;
}

.five-day {
  border: 1px solid black;
  height: 33%;
  background-color: hsl(214deg 41% 75%);
}

.five-day-forecast {
  padding: 10px;
}
