html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  background-color: #e9e9e9;
}

input {
  width: 60%;
  padding-left: 7px;
}

i {
  color: #007bff;
  font-size: 39px;
  vertical-align: middle;
  margin-left: 7px;
}

i:hover {
  color: #1f67b4;
}

img {
  width: 80px;
  height: 80px;
}

.inner-container {
  background-color: #c7dfff;
  border-radius: 10px;
  border: solid #4376d4 2px;
  margin-bottom: 200px;
  margin-top: 15px;
  padding-top: 50px;
  padding-bottom: 100px;
  word-wrap: break-word;
}

.city-search {
  display: inline-block;
  text-align: center;
}

#city-name {
  margin-right: 5px;
}

.current-conditions {
  display: inline-block;
  margin-bottom: 20px;
}

.conditions {
  background-color: #add0ff;
  border: solid 1px #4376d4;
  border-radius: 10px;
}

.forecast-day {
  background-color: #add0ff;
  border: solid 1px #4376d4;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  padding: 5px 40px;
}

.forecast-container {
  display: block;
}



