body {
    font-family: monospace, sans-serif;
}

.top {
    background-color: white;
    color: black;
}

.top2 {
    margin-top: 100px;
}

.weather, .forecast, .current {
    background-color: white;
}

.current {
    border-radius: 10px;
    vertical-align: middle;
}

.big-img {
    min-height: 170px;
    min-width: 170px;
}
.city {
    padding: 5px;
}
.forecast {
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 100px;
    padding-top: 5px;
    margin-bottom:100px;
    color: white;
}
