h1 {
  text-align: center;
}

.input-div {
  padding-right: 0;
}

.search-form {
  margin-top: 40px;
}

label {
  font-size: 0.8rem;
}

.city {
  text-align: center;
}

.instructions {
  padding-right: 0;
  font-size: small;
  margin-bottom: 0.8rem;
}

.city-current {
  margin-top: 30px;
}

.city-forecast {
  margin-top: 40px;
  padding: 0 20px;
}

.forecast {
  border: solid 1px black;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0.25rem;
}
